name: Build Debug Enabled Executables

on:
  push:
    branches: [ "master" ]
        
env:
  GODOT_VERSION: 4.1
  NUM_OF_HISTORICAL_ARTIFACTS_TO_KEEP: 1

jobs:
  export:
    uses: bigdavisc/edge-of-oblivion/.github/workflows/godot_build.yml@master
    with:
      debug: true
      godot_version: ${{ env.GODOT_VERSION }}
      export_name: ${{ github.event.repository.name }}
      windows: true
      windows_preset: Windows Desktop
      linux: false
      project_path: '.'
      export_presets_path: '.'
      
  clean:
    name: Cleanup Old Artifacts
    runs-on: ubuntu-latest
    needs: export
    steps:
      - name: Find and delete old artifacts
        uses: actions/github-script@v6
        id: delete-artifacts
        with:
          script: |
            const res = await github.rest.actions.listArtifactsForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
            })

            const allArtifacts = res.data.artifacts
                    .sort( (a,b) => (new Date(a.created_at)) - (new Date(b.created_at)) );

            const artifactsToDelete = allArtifacts
                    .slice(0, -${{ env.NUM_OF_HISTORICAL_ARTIFACTS_TO_KEEP }})
                    .filter(({ name }) => name.endsWith('${{ env.EXPORT_NAME }}'))

            artifactsToDelete.forEach(({ id }) => {
               github.rest.actions.deleteArtifact({
                 owner: context.repo.owner,
                 repo: context.repo.repo,
                 artifact_id: id,
               })
              })
              
            return artifactsToDelete
            
      - name: Print deleted artifacts
        run: echo "${{steps.delete-artifacts.outputs.result}}"
