name: Build and Deploy to Steam

on:
  workflow_dispatch:
    inputs:
      buildDescription:
        description: Build Description
        required: false
        default: 'A generic build'

env:
  GODOT_VERSION: 4.1
  EXPORT_NAME: "${{ github.event.repository.name }}"
  PROJECT_PATH: "."

jobs:
  set_tag:
    name: Set godot-ci tag
    runs-on: ubuntu-latest
    outputs:
      godot_ci_tag: ${{ steps.set_tag.outputs.tag }}
    steps:
      - id: set_tag
        run: echo "tag=$GODOT_VERSION" >> $GITHUB_OUTPUT
        
  export:
    name: Export from Godot
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    needs: set_tag
    container:
      image: barichello/godot-ci:${{ needs.set_tag.outputs.godot_ci_tag }}
    env:
      WINDOWS_PRESET: Windows Desktop
    steps:
      - name: Checkout
        if: steps.check-cache.outputs.cache-hit != 'true'
        uses: actions/checkout@v3
        with:
          lfs: true     
          
      - name: Setup
        if: steps.check-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates
          mv /root/.local/share/godot/templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
          # cp .github/workflows/export_presets.cfg ${PROJECT_PATH}/export_presets.cfg
          
      - name: Build for windows
        if: steps.check-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -v -p ${PROJECT_PATH}/build/windows
          godot -v --path $PROJECT_PATH --headless --export-release "${WINDOWS_PRESET}" build/windows/$EXPORT_NAME.exe | tee $EXPORT_NAME.output
          
      - name: Check for build errors
        if: steps.check-cache.outputs.cache-hit != 'true'
        shell: bash
        run: |
          BUILD_ERRORS=("ERROR: Can't open project" "ERROR: Cannot export project")
          for ((i = 0; i < ${#BUILD_ERRORS[@]}; i++))
          do
            if grep -q "${BUILD_ERRORS[$i]}" $EXPORT_NAME.output
            then
              echo "Found error ${BUILD_ERRORS[$i]} in Godot build output"
              exit 1
            fi
          done
          
      - name: Upload artifacts
        uses: actions/upload-artifact@v3.1.0
        with:
          name: dist-${{ github.event.repository.name }}
          path: ${{ env.PROJECT_PATH }}/build
          retention-days: 1
          
  deploy:
    name: Deploy to Steam
    runs-on: ubuntu-latest
    needs: export
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3.1.0
        with:
          name: dist-${{ github.event.repository.name }}
          path: build
          
      - name: Test cache find
        run: find build/ -maxdepth 1 -type d -exec ls -la
          
 #     - uses: game-ci/steam-deploy@v3
 #       with:
 #         username: ${{ secrets.STEAM_USERNAME }}          
 #         configVdf: ${{ secrets.STEAM_CONFIG_VDF}}          
 #         appId: 1354590
 #         buildDescription: ${{ github.event.inputs.buildDescription }}
 #         rootPath: build
 #         depot1Path: windows
